@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-obsidian: #0b0b0b;
  --color-maasai: #d10a10;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply text-zinc-50 antialiased font-sans overflow-x-hidden selection:bg-maasai/30;
  background: linear-gradient(180deg, #000000 0%, #0b0b0b 60%, rgba(200, 200, 200, 1) 85%, #ffffff 100%);
  min-height: 100vh;
}

.bg-pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 15l30 30m-30 0l30-30' stroke='%23d10a10' stroke-width='1' fill='none' fill-opacity='0.05' opacity='0.05' /%3E%3Ccircle cx='30' cy='30' r='10' stroke='%23d10a10' stroke-width='1' fill='none' opacity='0.05'/%3E%3Cpath d='M0 30h60M30 0v60' stroke='%23d10a10' stroke-width='0.5' opacity='0.05'/%3E%3C/svg%3E");
}